html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Robot, Oxygen-Sans, Ubuntu, Cntarell, Helvetica Neue, sans-serif;

    h1 {
        padding: 0;
        margin: 0;
    }
    ul {
        padding-left: 0px;
    }
    li {
        list-style-type: none;
    }
    #app {
        height: 100%;
        width: 100%;
    }
}
    .main,
    #router,
    .home-page {
        height: 100%;
    }
    #header {
        background: #FC6C43;
        padding: 25px;
        .getWeather {
            width: 100%;
            display: flex;
            justify-content: flex-start;
        }
        .title {
            margin-right: auto;
            color: white;
        }
        .btn, input {
            padding: 10px;
            margin: 0 2.5px;
            border-radius: 4px;
            border: none;
            font-size: 14px;
        }
        .btn {
            background: #5CB85C;
                color: white;
                text-decoration: none;
                font-weight: bold;
        }
    }
    .home-page {
        background-image: url('images/pattern.svg');
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .getWeather {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width:50%;
            .title {
                color: white;
                font-weight: bold;
                margin-bottom: 25px;
                font-size: 60px;
                font-weight: lighter;
            }
            .search-for-city {
                line-height: 30px;
                border-radius: 4px;
                padding: 10px 15px;
                width: 30%;
                border: none;
                margin-bottom: 5px;
                font-size: 20px;
            }
            .btn {
                background: #5CB85C;
                border: none;
                border-radius: 4px;
                padding: 10px 15px;
                width: 20%;
                color: white;
                font-weight: bold;
                font-size: 18px;
                text-decoration: none;
                display: flex;
                justify-content: center;
            }
        }
    }
    .forecast {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .forecast-city-title {
            padding-top: 50px;
            font-weight: lighter;
        }
        .list-of-days {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            width: 90%;
            flex-wrap: wrap;
            padding: 50px;
            .day-container {
                width: 25%;
                height: auto;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                cursor: pointer;
                a {
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            img {
                width: 50%;
                height: 200px;
                padding-bottom: 20px;
            }
        }
    }
    .details-page,
    .forecast-of-day {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 50px;
        .detail-image {
            display: flex;
            justify-content: center;
            width: 25%;
            justify-self: center;
            margin: auto;
            padding-bottom: 15px;
        }
        .detail-date {
            display: flex;
            justify-content: center;
            font-weight: lighter;
            font-size: 35px;
            margin: 0px;
            padding: 35px 0;
        }
        h4 {
            display: flex;
            justify-content: center;
            font-weight: lighter;
            font-size: 35px;
            padding: 0;
            margin: 15px;
        }
    }

    .loading {
        display: flex;
        justify-content: center;
        align-self: center;
        align-items: center;
        padding: 15%;
        font-size: 100px;
    }
